/* CSS Document */

@charset "utf-8";

@font-face {
	font-family: centurygoth;
	src:url(../resources/fonts/GOTHIC.TTF);
}
@font-face {
	font-family: lithos;
	src:url(../resources/fonts/LithosPro-Regular.otf);
}
@media only screen and (orientation:portrait) {
      .top {
        padding-top: 8px;
        padding-right: 13%;
        padding-bottom: 8px;
        padding-left: 13%;
      }
      .bottom {
        padding-top: 10px;
        padding-right: 15%;
        padding-bottom: 10px;
        padding-left: 15%;
      }
      .coverpic {
        width: 100%;
        border-radius:10px;
      }
      .nestchart {
        width:94%;
        font-family: centurygoth;
        border-collapse: collapse;
        margin-left:3%;
      }
}
@media only screen and (orientation:landscape) {
  .top {
    padding-top: 10px;
    padding-right: 35%;
    padding-bottom: 10px;
    padding-left: 35%;
  }
  .bottom {
    padding-top: 10px;
    padding-right: 37%;
    padding-bottom: 10px;
    padding-left: 37%;
  }
  .coverpic {
    width: 50%;
	border-radius:10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
  }
  .nestchart {
  	width:44%;
	font-family: centurygoth;
  	border-collapse: collapse;
	margin-left:28%;
  }
}

body, html {
	height: 100%;
  	background: #b8fcf4;
}
h1,h2,h3,h4,h5,h6 {
	font-family:centurygoth;
}
.title {
	font-family:lithos;
	text-align:center;
	font-size:42px;
	margin-top: 0.1em;
  	margin-bottom: 0.1em;
}
.top {
	margin: auto;
	width: 100%;
	text-align: center;
	color: #ffffff;
	background-color: rgb(0, 175, 197);
    background:  repeating-linear-gradient(45deg, rgba(233, 233, 233, 0.2) 0%, rgba(233, 233, 233, 0.2) 5%,rgba(201, 201, 201, 0.2) 5%, rgba(201, 201, 201, 0.2) 10%), repeating-linear-gradient(135deg, rgba(145, 145, 145, 0.15) 0%, rgba(145, 145, 145, 0.15) 5%,rgba(116, 116, 116, 0.15) 5%, rgba(116, 116, 116, 0.15) 10%), linear-gradient(90deg, rgb(0, 175, 197),rgb(0, 175, 197));
	background-position:center;
	background-repeat:no-repeat;
}
.countdownTitle {
    font-size:14px;
    line-height:5px;
}
countdown {
    font-family: centurygoth;
    font-size: 24px;
    line-height:30px; 
    margin-top:12px;
    margin-bottom:10px;
}
.bottom {
	margin: auto;
	width: 100%;
	text-align: center;
	color: #ffffff;
	background-color: #333;
	background-position:center;
	background-repeat:no-repeat;
	background-size:contain;
}
.boundbox {
	display:block;
	width:100%;
	margin-left:auto;
	margin-right:auto;
    margin-top:0.5em;
    margin-bottom:0.5em;
}
.boundboxb {
	background-color: rgba(120,120,120,0.3);
	border-radius: 10px;
	display:block;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	padding-top:10px;
	padding-bottom:10px;
}
ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /*Safari*/
    position: sticky;
    top: 0;
    border-radius: 0px;
}
ul.navbar li {
    float: left;
}
ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul.navbar li a:hover {
    background-color: rgba(68, 180, 221, 0.44);
    color: white;
    text-decoration: none;
}
.active {
    background:  repeating-linear-gradient(0deg, rgba(43, 123, 181, 0.35) 0%,rgba(43, 123, 181, 0.35) 90%, rgba(68, 180, 221, 0.44) 90%, rgba(68, 180, 221, 0.44) 100%);
    text-decoration: none;
}
.nestchart {
	display:inline-table;
    background-color: #a6ece6;
}
thead {
	border: 1px solid #dddddd;
	color:#eee;
  	text-align: center;
	font-size:16px;
	font-weight:bold;
	background-color:#447391;
}
tbody tr:nth-child(even) {
    background-color: #a6ece6;
}
tbody tr:nth-child(odd) {
    background-color: #d3f8f5;
}
td, th, tr {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    width:33%;
}
.pixelmon {
	height:auto;
    image-rendering:crisp-edges;
    image-rendering:-webkit-optimize-contrast;
	display:inline-block;
    line-height: inherit;
	margin-left:auto;
	margin-right:auto;
}
#species, #nestCC {
	width:300px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	
}
.btn {
    color: #3aa0b0;
    background-color: rgba(73, 207, 214, 0.1);
}

@media only screen and (max-width:490px) {
   .title {
	font-size:32px !important;
    }
   .countdownTitle {
    font-size:12px;
    line-height:5px;
    }
   countdown {
    font-size: 21px;
    line-height:26px;  
    margin-top:12px;
    margin-bottom:0;
    }
   ul.navbar li {
    width:14.2%;
    min-height: 50px;
    max-height: 50px;
    }
   ul.navbar li a {
    color: white;
    text-decoration: none;
    max-height: 50px;
    line-height: 24px;
    text-align: center;
    white-space: nowrap;
    }
   .top {
    background:  repeating-linear-gradient(45deg, rgba(233, 233, 233, 0.2) 0%, rgba(233, 233, 233, 0.2) 10%,rgba(201, 201, 201, 0.2) 10%, rgba(201, 201, 201, 0.2) 20%), repeating-linear-gradient(135deg, rgba(145, 145, 145, 0.15) 0%, rgba(145, 145, 145, 0.15) 10%,rgba(116, 116, 116, 0.15) 10%, rgba(116, 116, 116, 0.15) 20%), linear-gradient(90deg, rgb(0, 175, 197),rgb(0, 175, 197));
    }
   .faNavbar {
    line-height: 24px;
    }
}