/* CSS Document */

@charset "utf-8";

@font-face {
	font-family: centurygoth;
	src:url(../resources/fonts/GOTHIC.TTF);
}
@font-face {
	font-family: lithos;
	src:url(../resources/fonts/LithosPro-Regular.otf);
}
@media only screen and (orientation:portrait) {
  .top {
    padding-top: 10px;
    padding-right: 15%;
    padding-bottom: 10px;
    padding-left: 15%;
  }
}
@media only screen and (orientation:landscape) {
  .top {
    padding-top: 10px;
    padding-right: 35%;
    padding-bottom: 10px;
    padding-left: 35%;
  }
}
@media only screen and (orientation:portrait) {
  .bottom {
    padding-top: 10px;
    padding-right: 15%;
    padding-bottom: 10px;
    padding-left: 15%;
  }
}
@media only screen and (orientation:landscape) {
  .bottom {
    padding-top: 10px;
    padding-right: 37%;
    padding-bottom: 10px;
    padding-left: 37%;
  }
}
@media only screen and (orientation:portrait) {
  .coverpic {
    width: 100%;
	border-radius:10px;
  }
}
@media only screen and (orientation:landscape) {
  .coverpic {
    width: 50%;
	border-radius:10px;
	align:center;
	display: block;
	margin-left: auto;
	margin-right: auto;
  }
}
body, html {
	height: 100%;
  	background: #b8fcf4;
}
h1,h2,h3,h4,h5,h6 {
	font-family:centurygoth;
}
.title {
	font-family:lithos;
	text-align:center;
	font-size:42px;
	margin-top: 0.1em;
  	margin-bottom: 0.1em;
}
.top {
	margin: auto;
	width: 100%;
	text-align: center;
	color: #ffffff;
	background-color: #00afc5;
	background-image: url(../resources/images/Party_Logo.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:contain;
}
.bottom {
	margin: auto;
	width: 100%;
	text-align: center;
	color: #ffffff;
	background-color: #333;
	/* background-image: url(../resources/images/Party_Logo.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:contain; */
}
.boundbox {
	background-color: rgba(0,73,165,0.3);
	border-radius: 10px;
	display:block;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	padding-top:10px;
	padding-bottom:10px;
}
.boundboxb {
	background-color: rgba(120,120,120,0.3);
	border-radius: 10px;
	display:block;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	padding-top:10px;
	padding-bottom:10px;
}
ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /*Safari*/
  position: sticky;
  top: 0;
}
ul.navbar li {
  float: left;
}
ul.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul.navbar li a:hover {
  background-color: #111000;
  color: white;
  text-decoration: none;
}
.active {
  background-color: rgba(0,73,165,0.3);
  text-decoration: none;
}
@media only screen and (orientation:portrait) {
.nestchart {
  	width:94%;
	font-family: centurygoth;
  	border-collapse: collapse;
	margin-left:3%;
}
}
@media only screen and (orientation:landscape) {
.nestchart {
  	width:44%;
	font-family: centurygoth;
  	border-collapse: collapse;
	margin-left:28%;
}
}
.nestchart {
	display:inline-table;
}
td, th, tr {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  width:33%;
}

tr:nth-child(even) {
  background-color: #eeeeee;
}
.pixelmon {
	height:auto;
    image-rendering:crisp-edges;
    image-rendering:-webkit-optimize-contrast;
	display:inline-block;
    line-height: inherit;
	margin-left:auto;
	margin-right:auto;
}
#species, #myInput {
	width:300px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	
}
.btn {
    color: #3aa0b0;
    background-color: rgba(73, 207, 214, 0.1);
}